*{
    margin:0px;
}

body{
    background: black;
}

.container{
    background: black;
}

.logo{
    background: black;
    margin-top: 10px;
}

.menu{
    color:aliceblue;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    gap: 30px;
    font-size: 20px;
}

.imagen1{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.imagen1 .contenedorImagen{
    padding-top: 30px;
}

.imagen1 :nth-child(2){
    color: azure;
    width: 35%;
    height: 200px;
    margin-top: 150px;
    margin-right: 15%;
    font-size: 20px;
    display: flex;
    justify-content:space-around;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}


.contenedor .container1{
    margin-left: 60px;
    width:40%;
}

.container1 .box{
    font-size: 30px;
    color:azure;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.container1 .box2{
    font-size: 20px;
    color:azure;
    justify-content: center;
}

.contenedor .containerr{
    border: 5px solid #06121b;
    margin-right: 80px;
    width:40%;
}

.containerr .title{
    font-size: 30px;
    color:azure;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background: #06121b;
}

.containerr .scroll .display .box2{
  
    color:azure;
    font-size: 20px;
    padding-right: 15%;
    padding-top: 30px;
}

.containerr .scroll .display .box3{
  
    color:azure;
    font-size: 20px;
    padding-right: 15%;
    padding-top: 30px;
    padding-left: 50px;
}

.containerr .scroll .display{
    display: flex;
}

.contenedor .containerr .scroll{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

